#header {
  background-color: #f8f8f8;
  background-color: var(--header-background-color, #f8f8f8);
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-between;
  position: sticky;
  top: calc(5rem - 10rem);
  z-index: 10;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  transition: background-color 0.3s;

  h1 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0.5rem 0;

    span {
      font-family: monospace;
      font-size: 1rem;
    }
  }

  a {
    display: block;
  }

  p {
    margin: 0;
  }

  .meta {
    flex: 1;
    line-height: 1;
    overflow: hidden;

    div {
      display: flex;


      span {
        transition: transform 0.3s;
        width: 1.75rem;

        &.--trigger {
          transform: rotateY(360deg);
        }

        i {
          position: absolute;
        }
      }
    }
  }

  .buttons {
    display: flex;
    height: 4rem;
    padding-top: 1rem;

    button {
      border: 2px solid #ddd;
      border: 2px solid var(--button-border-color, #ddd);
      border-radius: 3px;
      background-color: #fff;
      background-color: var(--button-background-color, #fff);
      color: #666;
      color: var(--button-text-color, #666);
      cursor: pointer;
      outline: 0;
      font-family: inherit;
      padding: 0.75rem 1.5rem;
      text-transform: capitalize;
      transition: background-color 0.3s,
        border-color 0.3s,
        color 0.3s,
        transform 0.3s;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;

      @media only screen and (max-width: 600px) {
        padding: 0.75rem 0.25rem;
        width: 20%;
      }

      &:hover {
        transform: translateY(-0.25rem);
      }

      &.active {
        border-color: #056fb6;
        border-color: var(--primary-accent-color, #056fb6);
      }

      &:disabled {
        opacity: 0.5;
      }

      &+button {
        margin-left: 1rem;

        @media only screen and (max-width: 600px) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}