@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  transition: background 0.5s;
}

body {
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  transition: color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: 128px;
  width: 128px;
}

section {
  margin-top: 2rem;
}

button {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  outline: 0;
  padding: 0 0 0.25rem 0;
  position: relative;
}

button::before {
  background-color: var(--primary-text-color);
  bottom: -0.125rem;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.3s;
  width: 0;
}

button+button {
  margin-left: 1rem;
}

button:disabled {
  opacity: 0.5;
}

button.selected::before {
  width: 100%;
}