html {
  background-color: var(--app-background-color);
}

body {
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  animation: App-logo-spin infinite 20s linear;
  margin-left: -10rem;
  max-height: 10rem;
  max-width: 10rem;
}

main div {
  margin-top: 2rem;
}

button {
  background-color: transparent;
  border: 0;
  color: #61dafb;
  cursor: pointer;
  font-size: 1rem;
}

button+button {
  margin-left: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}