#readme {
  padding-top: 1rem;

  // hide demo section
  h1,
  h2:first-of-type,
  h2:first-of-type+ul {
    display: none;
  }

  ul {
    line-height: 1.75;
    margin-bottom: 0;
  }

  table {
    border-radius: 3px;
    border-spacing: 0;
    text-align: left;
    width: 100%;

    th,
    td {
      padding: 1rem;
      vertical-align: top;
    }

    tbody tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
      background-color: var(--table-zebra-background-color, rgba(0, 0, 0, 0.05));
    }
  }

  table,
  pre {
    background-color: #e6e6e6;
    background-color: var(--table-pre-background-color, #e6e6e6) !important;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }

  table code,
  p code,
  li>code,
  h3>code {
    background-color: rgba(0, 0, 0, 0.075);
    background-color: var(--code-background-color, rgba(0, 0, 0, 0.075));
    border-radius: 3px;
    line-height: 2;
    padding: 4px;
    transition: background-color 0.3s;
  }

  pre {
    border-radius: 3px;
    padding: 1rem !important;

    code {
      white-space: pre-wrap;
    }
  }

  code {
    font-size: .9rem;

    @media only screen and (min-width: 1160px) {
      white-space: pre;
    }
  }

  h2 {
    border-bottom: 1px solid var(--table-pre-background-color, #e6e6e6);
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 7rem;
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: -5rem;
    transition: border-color 0.3s;
    z-index: -1;

    a {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &+h3 {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;

    code {
      font-size: 1.25rem;
    }
  }
}