.themer--custom main {
  background-color: #d6713e;
  color: #180f0a;
}

.themer--custom main header::before {
  background-color: rgba(255, 255, 255, 0.08);
}

.themer--custom button {
  background-color: #da7f54;
  border-color: #865037;
  color: #180f0a;
}

.themer--custom button.active {
  border-color: #f9d5c4;
  color: #fff;
}

.themer--custom a:hover {
  color: #fff;
}