html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  backface-visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  align-items: center;
  background-color: #f1f1f1;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

main section {
  animation: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s 1 fadeIn;
  animation-fill-mode: forwards;
  background-color: inherit;
  opacity: 0;
  width: 100%;
}

main header {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: 12.5rem;
  justify-content: space-between;
  position: sticky;
  top: calc(5rem - 12.5rem);
  z-index: 10;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

main header::before {
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  overflow-x: hidden;
  padding: 0 1rem;
  width: 100%;
}

.meta h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

.meta span {
  font-family: monospace;
  font-size: 1rem;
}

.meta a {
  display: block;
  margin-bottom: 1rem;
}

.meta p {
  line-height: 1.5;
  margin: 0;
}

.meta .emoji {
  display: inline-block;
  margin-right: 0.25rem;
  text-align: center;
  transform: translateY(-1px);
  width: 1rem;
}

.buttons {
  display: flex;
  height: 4rem;
  padding-top: 1rem;
}

button {
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  transition: background-color 0.3s,
    border-color 0.3s,
    color 0.3s,
    transform 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: -0.4px
}

button:hover {
  transform: translateY(-0.25rem);
}

[class^="themer--"] button.active {
  border-color: rgb(5, 111, 182);
}

button+button {
  margin-left: 1rem;
}

a {
  color: inherit;
  font-weight: bold;
}

a:hover {
  color: rgb(5, 111, 182);
}

table,
pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

table {
  border-radius: 3px;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}


table th,
table td {
  padding: 1rem;
  vertical-align: top;
}

table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

table code,
p code {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  line-height: 2;
  padding: 4px;
  transition: background-color 0.3s;
}

pre {
  border-radius: 3px;
  padding: 1rem;
}

pre code {
  white-space: pre-wrap;
}

code {
  font-size: .9rem;
}

.readme>h1,
.readme>h1+p {
  display: none;
}

.readme h2 {
  padding-top: 7rem;
  position: relative;
  margin-top: -5rem;
}

.readme h2 a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.readme h3 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 0.8rem;
  justify-content: center;
  line-height: 1.5;
  opacity: 0.5;
  margin: 1rem 0 2rem 0;
}

footer svg {
  display: block;
  margin-top: 0.5rem;
  width: 1rem;
}

@media only screen and (min-width: 1160px) {
  code {
    white-space: pre;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 15px;
  }

  main header {
    height: 14rem;
    top: calc(5rem - 14rem);
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .buttons {
    display: flex;
  }

  button {
    padding: 0.75rem 0.25rem;
    width: 20%;
  }

  button+button {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 13px;
  }

  main header {
    height: 16rem;
    top: calc(5rem - 16rem);
  }
}