html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;

  @media only screen and (max-width: 1000px) {
    font-size: 15px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 340px) {
    font-size: 13px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  backface-visibility: hidden;
}

::selection {
  background: var(--selection-background-color);
  color: var(--selection-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  align-items: center;
  background-color: #f1f1f1;
  background-color: var(--app-background-color, #f1f1f1);
  color: #555;
  color: var(--primary-text-color, #555);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  // transition: background-color 0.3s, color 0.3s;

  section {
    animation: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s 1 fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 100%;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .container {
    margin: 0 auto;
    max-width: 1140px;
    overflow-x: hidden;
    padding: 0 1rem;
    width: 100%;
  }

  a {
    color: inherit;
    font-weight: bold;

    &:hover {
      color: #056fb6;
      color: var(--primary-accent-color, #056fb6);
    }
  }
}